@import "ubuntu.css";

@import url(http://fonts.googleapis.com/css?family=Monoton);




#containerIndex {
    margin: 20px;
}

#btnCrear {
    float: right;
}

#showImage {
    width: 75%;
    margin-left: 13%;
    padding: 10px;
}

#miniImage {
    height: 150px;
    overflow: hidden;
}

#btnSig {
    float: right;
}

#fechaImagen {
    float: right;
}

.logo {
    font-family: 'Monoton';
    font-size: 30px;}
#q{
    float: left;
}
#b{
    float: left;
}
#i{
    float: left;
}
#k{
    font-size: 40px;
    color: #0099cc;
    float: left;
}



a {
    color: #FFF;}

a:visited  {
    color: #FFF;
}
a:hover {
    background-color: rgba(0,0,0,0);
}

